@import "../../themes/index";
@import "./util";
@mixin fade-motion($className, $timing-function, $duration: $animation-duration-base) {
  $name: "#{$ant-prefix}-#{$className}-motion";
  @include make-motion-enter($name, antFadeIn, $timing-function, $duration);
  @include make-motion-leave($name, antFadeOut, $timing-function, $duration);
}
@keyframes antFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes antFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
